@page
@model RegisterModel
@{
    ViewData["Title"] = "Зарегистрироваться";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Создать новый аккаунт</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            
            <div class="form-floating">
                <input asp-for="Input.SecondName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.SecondName"></label>
                <span asp-validation-for="Input.SecondName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <select asp-for="Input.Role" id="role" class="form-control">
                    <option></option>
                    <option value="student">Учащийся</option>
                    <option value="teacher">Преподаватель</option>
                </select>
                <label for="role" asp-for="Input.Role"></label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <select asp-for="Input.AssociatedName" id="role_items" class="form-control">
                    <option></option>
                </select>
                <label id="role_items_label" for="role_items">Связанное имя</label>
                <span asp-validation-for="Input.AssociatedName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Введите пароль</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Повторите пароль</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зарегистрироваться</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Использовать сторонний сервис для регистрации</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                            <div>
                                <p>
                                    На данный момент сторонние сервисы регистрации не поддерживаются. 
                                    <!--
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                    -->
                                </p>
                            </div>
                }
                else
                {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Войти с помощью вашего @provider.DisplayName аккаунта">@provider.DisplayName</button>
                                }
                                    </p>
                                </div>
                            </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function createOptions(listItems){
            var options = '<option></option>';

            for(item of listItems){
                options += '<option>' + item + '</option>';
            }

            return options;
        }

        const groups = createOptions('@Model.GroupSelectorOptions'.split('|'));
        const teachers = createOptions('@Model.TeacherSelectorOptions'.split('|'));

        $(function () {
            var roleName = $('#role').val();
                
            // вставить элементы списка
            if (roleName == 'student'){
                $('#role_items').html(groups);
            }
            else if(roleName == 'teacher'){
                $('#role_items').html(teachers);
            }

            // привязать событие
            $('#role').change(function()
            {
                // получить выбранную роль
                var roleName = $(this).val();
                
                // вставить элементы списка
                if (roleName == 'student'){
                    $('#role_items_label').html("Связанное имя (учебная группа)");
                    $('#role_items').html(groups);
                }
                else if(roleName == 'teacher'){
                    $('#role_items_label').html("Связанное имя (ФИО)");
                    $('#role_items').html(teachers);
                }
            });
        })
    </script>

    <partial name="_ValidationScriptsPartial" />
}
