@page
@model CreateScoreModel
@{
    ViewData["title"] = "Добавление отметки";
}

<h1>@ViewData["title"]</h1>

<dl>
    <dt>ФИО учащегося</dt>
    <dd>@Model.StudentInitials</dd>
</dl>
    
<form method="post" 
    asp-route-returnUrl="@Model.ReturnUrl"
    asp-route-lessonId="@Model.LessonId"
    asp-route-studentId="@Model.StudentId">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-floating">
        <select asp-for="Input.ScoreValue" class="form-control">
            <option></option>
            @foreach (var g in Model.ScoreValues)
            {
                <option value="@g">@g</option>
            }
        </select>
        <label asp-for="Input.ScoreValue" class="form-label"></label>
        <span asp-validation-for="Input.ScoreValue" class="text-danger"></span>
    </div>
    
    <button type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
</form>