@page
@model IndexModel
@{
    ViewData["title"] = "Персональное расписание";
}

<h1>@ViewData["title"]</h1>
<div class="row">
    <div class="col-md">
        <h2>Сегодня</h2>
        @if (!Model.LessonsToday.Any())
        {
            <p><em>Расписание на сегодня отсутствует.</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Дисциплина</th>
                        <th>Аудитория</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= Model.LessonsToday.Max(l => l.Number); i++)
                    {
                        selectedViewModel = Model.LessonsToday.SingleOrDefault(l => l.Number == i);

                        <tr>
                            <td>@i</td>
                            @await Component.InvokeAsync("TeacherLessonCell", selectedViewModel)
                            <td>
                                @if (selectedViewModel != null)
                                {
                                    <a class="btn btn-secondary" 
                                        asp-page="EditLessonTopic" 
                                        asp-route-lessonid="@selectedViewModel.LessonId"
                                        asp-route-returnurl="@Url.Page("/Teacher")">
                                            @(selectedViewModel.HasTopic ? "Изменить тему" : "Добавить тему")
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md">
        <h2>Завтра</h2>
        @if (!Model.LessonsTomorrow.Any())
        {
            <p><em>Расписание на сегодня отсутствует.</em></p>
        }
        else
        {
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>№</th>
                        <th>Дисциплина</th>
                        <th>Аудитория</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= Model.LessonsTomorrow.Max(l => l.Number); i++)
                    {
                        <tr>
                            <td>@i</td>
                            @await Component.InvokeAsync("TeacherLessonCell", Model.LessonsTomorrow.SingleOrDefault(l => l.Number == i))
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@functions {
    private TeacherLessonViewModel? selectedViewModel;
}
